<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    
  概览 - My Notebooks
  
  </title>
  
  
  <link href="atom.xml" rel="alternate" title="My Notebooks" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css" />
    <link rel="stylesheet" href="asset/css/docs.css" />
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  function before_search(){
    var searchVal = 'site:www.hpmczz.com ' + document.getElementById('search_input').value;
    document.getElementById('search_q').value = searchVal;
    return true;
  }
</script>
  </head>
  <body class="antialiased hide-extras">
    
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">


<nav class="top-bar docs-bar hide-for-small" data-topbar>


  <section class="top-bar-section">
  <div class="row">
      <div style="position: relative;width:100%;"><div style="position: absolute; width:100%;">
        <ul id="main-menu" class="left">
        <li id="menu_item_index"><a href="index.html">HOME</a></li>
        <li id="menu_item_archives"><a href="archives.html">Archives</a></li>
        <li id="menu_item_about"><a href="about.html">ABOUT</a></li>
        </ul>

        <ul class="right" id="search-wrap">
          <li>
<form target="_blank" onsubmit="return before_search();" action="http://google.com/search" method="get">
    <input type="hidden" id="search_q" name="q" value="" />
    <input tabindex="1" type="search" id="search_input"  placeholder="Search"/>
</form>
</li>
          </ul>
      </div></div>
  </div>
  </section>

</nav>

        <nav class="tab-bar show-for-small">
  <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
    <span> &nbsp; My Notebooks</span>
  </a>
</nav>

<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
       
       <li><a href="index.html">HOME</a></li>
    <li><a href="archives.html">Archives</a></li>
    <li><a href="about.html">ABOUT</a></li>

    <li><label>Categories</label></li>

        
            <li><a href="Translate.html">Translate</a></li>
        
            <li><a href="iOS_Development.html">iOS_Development</a></li>
        
            <li><a href="Objective-C.html">Objective-C</a></li>
        
            <li><a href="JavaScript.html">JavaScript</a></li>
        
            <li><a href="Node.js.html">Node.js</a></li>
         

      </ul>
    </aside>

<a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
        
       

 <script type="text/javascript">
  $(function(){
    $('#menu_item_index').addClass('is_active');
  });
</script>
<div class="row">
  <div class="large-8 medium-8 columns">
      <div class="markdown-body article-wrap">
       <div class="article">
          
          <h1>概览</h1>
     
        <div class="read-more clearfix">
          <span class="date">2016/4/15</span>

          <span>posted in&nbsp;</span> 
          
              <span class="posted-in"><a href='AngularJS.html'>AngularJS_1.x</a></span>
           
         
          <span class="comments">
            

            
          </span>

        </div>
      </div><!-- article -->

      <div class="article-content">
      <p>这节简要的使用一个简单的例子介绍AngularJS中的一些重要部分。如果需要更深入的解释，请参考这篇<a href="./phonecat_1.html">教程</a></p>

<table>
    <thead>
        <tr>
            <th>概念</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#template">模版</a></td>
            <td>附加标记的HTML</td>
        </tr>
        <tr>
            <td><a href="#directives">指令</a></td>
            <td>使用自定义属性和元素扩展的HTML</td>
        </tr>
        <tr>
            <td><a href="#model">实体</a></td>
            <td>视图中展现给用户的数据和跟用户互动的数据</td>
        </tr>
        <tr>
            <td><a href="#scope">范围</a></td>
            <td>控制器,指令和表达式可以访问model所存储的上下文环境</td>
        </tr>
        <tr>
            <td><a href="#expressions">表达式</a></td>
            <td>从scope中访问变量和函数</td>
        </tr>
        <tr>
            <td><a href="#compiler">Compiler</a></td>
            <td>解析模版，实例化的指令和表达式</td>
        </tr>
        <tr>
            <td><a href="#filter">过滤器</a></td>
            <td>给用户格式化后表达式的值</td>
        </tr>
        <tr>
            <td><a href="#view">视图</a></td>
            <td>用户所见（DOM)</td>
        </tr>
        <tr>
            <td><a href="#databingding">数据绑定</a></td>
            <td>视图和实体之间的数据同步</td>
        </tr>
        <tr>
            <td><a href="controller">控制器</a></td>
            <td>视图背后的业务逻辑</td>
        </tr>
        <tr>
            <td><a href="dependencyinjection">依赖注入</a></td>
            <td>创建连接对象和函数</td>
        </tr>
        <tr>
            <td><a href="injector">注入器</a></td>
            <td>依赖注入的容器</td>
        </tr>
        <tr>
            <td><a href="module">模块</a></td>
            <td>一个应用不同部分的容器，这些不同的部分包含配置注入器的控制器，服务，过滤器，指令</td>
        </tr>
        <tr>
            <td><a href="service">服务</a></td>
            <td>视图中可重用的业务逻辑</td>
        </tr>
    </tbody>
</table>

<h4 id="toc_0">第一个例子： 数据绑定</h4>

<p>下面的例子中我们创建了一个表单以计算不同币种下的发票金额。</p>

<p>我们使用数量和单价输入框，他们值的乘积是发票的金额：</p>

<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;script src=&quot;http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-app ng-init=&quot;qty=1; cost=2&quot;&gt;

&lt;b&gt;Invoice:&lt;/b&gt;
&lt;div&gt;
    Quantity: &lt;input type=&quot;number&quot; min=&quot;0&quot; ng-model=&quot;qty&quot;&gt;
&lt;/div&gt;
&lt;div&gt;
    Cost: &lt;input type=&quot;number&quot; min=&quot;0&quot; ng-model=&quot;cost&quot;&gt;
&lt;/div&gt;

&lt;div&gt;
    &lt;b&gt;Total: &lt;/b&gt; {{ qty * cost | currency}}
&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;

</code></pre>

<p>试下上面的例子，然后我们一个瞧瞧这个例子里面发生了什么。</p>

<p>看起来像普通的HTML，附带一些新的标记。在Angular中，一个这样的文件称之为<a href="./angular_guide_template.html" id="template">模版</a>。</p>

      </div>

      <div class="row">
        <div class="large-6 columns">
        <p class="text-left" style="padding:15px 0px;">
      
          <a href="angular_guide_template.html" 
          title="Previous Post: 模版">&laquo; 模版</a>
      
        </p>
        </div>
        <div class="large-6 columns">
      <p class="text-right" style="padding:15px 0px;">
      
          <a  href="14605135696117.html" 
          title="Next Post: Dependency Injection(依赖注入)">Dependency Injection(依赖注入) &raquo;</a>
      
      </p>
        </div>
      </div>
      <div class="comments-wrap">
        <div class="share-comments">
          

          

          
        </div>
      </div>
    </div><!-- article-wrap -->
  </div><!-- large 8 -->




 <div class="large-4 medium-4 columns">
  <div class="hide-for-small">
    <div id="sidebar" class="sidebar">
          <div id="site-info" class="site-info">
            
                <h1>My Notebooks</h1>
                <div class="site-des"></div>
                <div class="social">











  <a class="rss" href="atom.xml" title="RSS">RSS</a>
                
              	 </div>
          	</div>
              <div id="site-categories" class="side-item ">
                <div class="side-header">
                  <h2>Categories</h2>
                </div>
                <div class="side-content">

      	<p class="cat-list">
        
            <a href="Translate.html"><strong>Translate</strong></a>
        
            <a href="iOS_Development.html"><strong>iOS_Development</strong></a>
        
            <a href="Objective-C.html"><strong>Objective-C</strong></a>
        
            <a href="JavaScript.html"><strong>JavaScript</strong></a>
        
            <a href="Node.js.html"><strong>Node.js</strong></a>
         
        </p>


                </div>
              </div>

              <div id="site-categories" class="side-item">
                <div class="side-header">
                  <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                <ul class="posts-list">
	      
		      
			      <li class="post">
			        <a href="angular_guide_template.html">模版</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14607031159401.html">概览</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14605135696117.html">Dependency Injection(依赖注入)</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="BootStrap.html">BootStrap</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14636373951783.html">Provider</a>
			      </li>
		     
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		   
		  		</ul>
                </div>
              </div>
        </div><!-- sidebar -->
      </div><!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->

 <div class="page-bottom clearfix">
  <div class="row">
   <p class="copyright">Copyright &copy; 2015
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
Theme used <a target="_blank" href="http://github.com">GitHub CSS</a>.</p>
  </div>
</div>

        </section>
      </div>
    </div>

  
    

    <script src="asset/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      function fixSidebarHeight(){
        var w1 = $('.markdown-body').height();
          var w2 = $('#sidebar').height();
          if (w1 > w2) { $('#sidebar').height(w1); };
      }
      $(function(){
        fixSidebarHeight();
      })
      $(window).load(function(){
          fixSidebarHeight();
      });
     
    </script>

    <script src="asset/chart/all-min.js"></script><script type="text/javascript">$(function(){    var mwebii=0;    var mwebChartEleId = 'mweb-chart-ele-';    $('pre>code').each(function(){        mwebii++;        var eleiid = mwebChartEleId+mwebii;        if($(this).hasClass('language-sequence')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"><div>').insertAfter(ele);            ele.hide();            var diagram = Diagram.parse($(this).text());            diagram.drawSVG(eleiid,{theme: 'simple'});        }else if($(this).hasClass('language-flow')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"><div>').insertAfter(ele);            ele.hide();            var diagram = flowchart.parse($(this).text());            diagram.drawSVG(eleiid);        }    });});</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>


  </body>
</html>
