<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    
  模版 - My Notebooks
  
  </title>
  
  
  <link href="atom.xml" rel="alternate" title="My Notebooks" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css" />
    <link rel="stylesheet" href="asset/css/docs.css" />
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  function before_search(){
    var searchVal = 'site:www.hpmczz.com ' + document.getElementById('search_input').value;
    document.getElementById('search_q').value = searchVal;
    return true;
  }
</script>
  </head>
  <body class="antialiased hide-extras">
    
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">


<nav class="top-bar docs-bar hide-for-small" data-topbar>


  <section class="top-bar-section">
  <div class="row">
      <div style="position: relative;width:100%;"><div style="position: absolute; width:100%;">
        <ul id="main-menu" class="left">
        <li id="menu_item_index"><a href="index.html">HOME</a></li>
        <li id="menu_item_archives"><a href="archives.html">Archives</a></li>
        <li id="menu_item_about"><a href="about.html">ABOUT</a></li>
        </ul>

        <ul class="right" id="search-wrap">
          <li>
<form target="_blank" onsubmit="return before_search();" action="http://google.com/search" method="get">
    <input type="hidden" id="search_q" name="q" value="" />
    <input tabindex="1" type="search" id="search_input"  placeholder="Search"/>
</form>
</li>
          </ul>
      </div></div>
  </div>
  </section>

</nav>

        <nav class="tab-bar show-for-small">
  <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
    <span> &nbsp; My Notebooks</span>
  </a>
</nav>

<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
       
       <li><a href="index.html">HOME</a></li>
    <li><a href="archives.html">Archives</a></li>
    <li><a href="about.html">ABOUT</a></li>

    <li><label>Categories</label></li>

        
            <li><a href="Translate.html">Translate</a></li>
        
            <li><a href="iOS_Development.html">iOS_Development</a></li>
        
            <li><a href="Objective-C.html">Objective-C</a></li>
        
            <li><a href="JavaScript.html">JavaScript</a></li>
        
            <li><a href="Node.js.html">Node.js</a></li>
         

      </ul>
    </aside>

<a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
        
       

 <script type="text/javascript">
  $(function(){
    $('#menu_item_index').addClass('is_active');
  });
</script>
<div class="row">
  <div class="large-8 medium-8 columns">
      <div class="markdown-body article-wrap">
       <div class="article">
          
          <h1>模版</h1>
     
        <div class="read-more clearfix">
          <span class="date">2016/4/15</span>

          <span>posted in&nbsp;</span> 
          
              <span class="posted-in"><a href='AngularJS.html'>AngularJS_1.x</a></span>
           
         
          <span class="comments">
            

            
          </span>

        </div>
      </div><!-- article -->

      <div class="article-content">
      <p>在Angular中，模版是包含Angular指定元素和属性的HTML。用户在浏览器中看到的是Angular结合实体和控制器的信息来动态地渲染的视图。</p>

<p>你可以使用的Angular元素和属性分类如下：</p>

<ul>
    <li><a href="angular_dev_guide_directive">指令</a> － 一个已经存在DOM元素的属性或者一个可重用的DOM组件。</li>
    <li><a href="angular_dev_guide_markup">标记</a> － 内置的Angular标记采用双花括号表示法 {{}} 给元素绑定表达式</li>
    <li><a href="angular_dev_guide_filter">过滤器</a> － 格式化数据</li>
    <li><a href="angular_dev_guide_form_control">表单控制</a> － 验证用户输入</li> 
</ul>

<p>下面的代码展示了指令和花括号表达式绑定的模版：</p>

<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;script src=&quot;http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller=&quot;MyController&quot;&gt;

&lt;input ng-model=&quot;foo&quot; value=&quot;bar&quot;&gt;
&lt;button ng-click=&quot;changeFoo()&quot;&gt;{{ buttonText }}&lt;/button&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>在这个简单的应用中，这个模版包含HTML，CSS和Angular指令，都在一个HTML文件中（通常是<code>index.html</code>)。</p>

<p>在复杂的应用中，你可以使用&quot;局部模版&quot;在一个主页面显示许多视图 － 单独的HTML文件，你可以使用<a href="./angular_api_ngview.html">ngView</a>指令通过配置<a href="./angular_api_route.html">$route</a>服务时加载局部模版。<br/>
在<a href="phonecat_8.html">教程</a>第八和第九步使用了这个技术。</p>

      </div>

      <div class="row">
        <div class="large-6 columns">
        <p class="text-left" style="padding:15px 0px;">
      
        </p>
        </div>
        <div class="large-6 columns">
      <p class="text-right" style="padding:15px 0px;">
      
          <a  href="14607031159401.html" 
          title="Next Post: 概览">概览 &raquo;</a>
      
      </p>
        </div>
      </div>
      <div class="comments-wrap">
        <div class="share-comments">
          

          

          
        </div>
      </div>
    </div><!-- article-wrap -->
  </div><!-- large 8 -->




 <div class="large-4 medium-4 columns">
  <div class="hide-for-small">
    <div id="sidebar" class="sidebar">
          <div id="site-info" class="site-info">
            
                <h1>My Notebooks</h1>
                <div class="site-des"></div>
                <div class="social">











  <a class="rss" href="atom.xml" title="RSS">RSS</a>
                
              	 </div>
          	</div>
              <div id="site-categories" class="side-item ">
                <div class="side-header">
                  <h2>Categories</h2>
                </div>
                <div class="side-content">

      	<p class="cat-list">
        
            <a href="Translate.html"><strong>Translate</strong></a>
        
            <a href="iOS_Development.html"><strong>iOS_Development</strong></a>
        
            <a href="Objective-C.html"><strong>Objective-C</strong></a>
        
            <a href="JavaScript.html"><strong>JavaScript</strong></a>
        
            <a href="Node.js.html"><strong>Node.js</strong></a>
         
        </p>


                </div>
              </div>

              <div id="site-categories" class="side-item">
                <div class="side-header">
                  <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                <ul class="posts-list">
	      
		      
			      <li class="post">
			        <a href="angular_guide_template.html">模版</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14607031159401.html">概览</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14605135696117.html">Dependency Injection(依赖注入)</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="BootStrap.html">BootStrap</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14636373951783.html">Provider</a>
			      </li>
		     
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		   
		  		</ul>
                </div>
              </div>
        </div><!-- sidebar -->
      </div><!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->

 <div class="page-bottom clearfix">
  <div class="row">
   <p class="copyright">Copyright &copy; 2015
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
Theme used <a target="_blank" href="http://github.com">GitHub CSS</a>.</p>
  </div>
</div>

        </section>
      </div>
    </div>

  
    

    <script src="asset/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      function fixSidebarHeight(){
        var w1 = $('.markdown-body').height();
          var w2 = $('#sidebar').height();
          if (w1 > w2) { $('#sidebar').height(w1); };
      }
      $(function(){
        fixSidebarHeight();
      })
      $(window).load(function(){
          fixSidebarHeight();
      });
     
    </script>

    <script src="asset/chart/all-min.js"></script><script type="text/javascript">$(function(){    var mwebii=0;    var mwebChartEleId = 'mweb-chart-ele-';    $('pre>code').each(function(){        mwebii++;        var eleiid = mwebChartEleId+mwebii;        if($(this).hasClass('language-sequence')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"><div>').insertAfter(ele);            ele.hide();            var diagram = Diagram.parse($(this).text());            diagram.drawSVG(eleiid,{theme: 'simple'});        }else if($(this).hasClass('language-flow')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"><div>').insertAfter(ele);            ele.hide();            var diagram = flowchart.parse($(this).text());            diagram.drawSVG(eleiid);        }    });});</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>


  </body>
</html>
